<?xml version="1.0" encoding="utf-8" ?>
<configuration> 
  <ConnectionStrings>
    <add name="nazwaBazy" ConnectionString="Server=.;Database=nazwaNaszejBazy;Trusted_Connection=True; " providerName="System.Data.SqlClient"/>
  </ConnectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>